.navbar-inner{ 
    border-radius:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
#content{
    width: 600px;
    margin: auto;
}
#form{
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
      
}
div.register_form{
    display:none;
}
#sidebar{
    float: left;
    width:18%;
    background: #f7f7f7;
}
#sidebar li a{
    padding:3px 5px;
    padding-left: 15px;
    margin-bottom: 2px;
}
#td_container{
    width:1000px;
    margin:auto;
    padding-top:40px;
    background: #fff;
    padding: 10px;
    padding-top: 40px;
}
  
#mainContent{
    float:right;
    width: 82%;
}
#mainContent #head{
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 5px;
    min-height: 40px;
    line-height: 40px;
}
#mainContent #head h2{
    float: left;
    font-size:16px;
}
#mainContent #head #add_more{
    float:right;
}
#mainBody{
 clear: both;
 padding: 10px;
}
.brand{
  display: block;
  text-align: center;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 40px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;}
